/* apply */
#apply {


    width: 150px;
    padding-bottom: 8px;
    border-style: none;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: -1px;
    margin-top: -4px;
    color: rgb(255, 255, 255);
    height: 40px;
    background-color: #26D2C6;
    transition: ease-in-out .5s;
}

button {
    padding-bottom: 8px;
}

#apply:focus {
    outline: none;
}

#apply:hover {
    color: #000000;
    background: none;
    border: 2px solid rgb(0, 0, 0);
}

/* view courses */
#gt {
    margin-top: 5px;
    width: 180px;
    /* margin-left: 90px; */
    border-radius: 50px;
    border-style: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    height: 50px;
    background-color: #26D2C6;

    transition: all .4s ease-in-out;
}


#gt:focus {
    outline: none;
}

#gt:hover {
    color: #000000;
    background: none;
    border: 2px solid rgb(0, 0, 0);
}

/* get started */
#gvt {

    margin-top: 1px;
    width: 180px;

    border-style: none;
    border-radius: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    transition: ease-in-out .3s;
}


#gvt:focus {
    outline: none;
}

#gvt:hover {
    color: rgb(255, 255, 255);
    background-color: #26D2C6;
    border: none;

}

/* get started 2 */
#gvt2 {

    margin-top: 1px;
    width: 180px;

    border-style: none;
    border-radius: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    transition: ease-in-out .3s;
}


#gvt2:focus {
    outline: none;
}

#gvt2:hover {
    color: rgb(255, 255, 255);
    background-color: #26D2C6;
    border: none;

}

/* Apply */
#signg {
    background-color: darkblue;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    height: 40px;
    border-style: none;
}

#signg:focus {
    outline: none;
}

#createa {
    width: 200px;
    margin-left: 40px;
    height: 45px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: #26D2C6;
    border-style: none;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

#createa:hover {
    color: #000000;
    background: none;
    border: 2px solid rgb(0, 0, 0);
}

#createa:focus {
    outline: none;
}