#firstname{
    height: 40px;
    margin-left: 40px;
    padding-left: 20px;
}
#username{
    height: 40px;
    margin-left: 10px;
    padding-left: 20px;
}
#email{
    height: 40px;
    width: 455px;
    margin-top: 10px;
    margin-left: 40px;
    padding-left: 20px;
}
#password{
    height: 40px;
    width: 455px;
    margin-top: 10px;
    margin-left: 40px;
    padding-left: 20px;
}

input[type=text]::placeholder{
    padding-left: -20px;
    font-size: 20px;
}
input[type=email]::placeholder{
    padding-left: -20px;
    font-size: 20px;
}
input[type=password]::placeholder{
    padding-left: -20px;
    font-size: 20px;
}
input[type=checkbox]:focus{
    outline: none;
}

input:focus{
    outline: 2px solid #26D2C6;
}
