@media screen and (max-width:500px) {
    #items {
        padding-left: 30px;
        padding-right: 30px;
    }
    .cap{
        font-size: 30px;
    }
    #land{
        height: 1000px;
    }
    li{
        display: block;
    }
    nav{
        background-color: red;
    }
}
