@import url(queries.css);
@import url(inputs.css);
@import url(buttons.css);
@import url(bootstrap.min.css);



@font-face {
    font-family: 'GalanoGrotesqueAlt';
    src: url('../Fonts/GalanoGrotesqueAlt-Regular.eot');
    src: local('☞Galano Grotesque Alt'), local('GalanoGrotesqueAlt-Regular'),
        url('GalanoGrotesqueAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('GalanoGrotesqueAlt-Regular.woff2') format('woff2'),
        url('GalanoGrotesqueAlt-Regular.woff') format('woff'),
        url('../Fonts/GalanoGrotesqueAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(245, 251, 255);
    font-family: "GalanoGrotesqueAlt";
    
}
#land{
    background-color: rgb(245, 251, 255);
    background-position: center;
    background-size: cover;
    height: 663px;
    
}
.cap{
    font-size: 80px;
    text-align: left;
    color: #000000;
    /* color: #2e25cc; */
    /* color: #eb2f06; */
    padding-top: 204px;
    font-weight: bolder;
    line-height: 75px;
    margin-left: 90px;
    letter-spacing: -5px;
}
.cj{
    margin-left: 90px;
    letter-spacing: -.40px;
    color: rgb(0, 0, 0);
    font-size: 19px;
    line-height: 24px
}
#qut{
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
}
.cd{
    
    /* color: #26D2C6; */
    background: linear-gradient(to right, green, #26D2C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
    
}
/* Nav Bar */
nav {
    height: 140px;

}
a{
    color: rgb(0, 0, 0)
}

a:hover{
    /* background: linear-gradient(to right, rgb(226, 65, 6), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color:#26D2C6;
    text-decoration: none;
}
li {
    list-style: none;
    float: left;
    margin-left: 25px;
    margin-top: 56px;
    font-size: 17px;
}
ul .ull{
    float: right;
}
/* Nav icons ham */
.mbicon{
    float: right;
    margin-top: 30px;
    display:none ;
    font-size: 240%;
}


.nbicon{
    font-size: 240%;
    display: none;
    float: right;
    margin-top: 20px;
    margin-right:-38px;
    cursor: pointer;
}

.sticky {
    z-index: 9999;
    position: fixed;
    top:0px;
    left: 0;
    width: 100%;
    
    background-color: rgb(245, 251, 255);
    background-position: center;
    background-size: cover;
    /* box-shadow: 2px 2px 10px rgb(228, 226, 226); */
    
}
.stick{
    z-index: 9999;
    position: fixed;
    top:570px;
    left: 0;
    width: 100%;
    /* background-image: url(../images/antenna-cw-cj_nFa14-unsplash\ -\ Copy.jpg) ; */
    /* background-color: rgb(255, 255, 255); */
    background-position: center;
    background-size: cover;
    /* box-shadow: 2px 2px 15px rgb(228, 226, 226); */
    
}

/* Img Effect */
.imt:hover {
    padding-right: 3px;
    width: 105%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

}

.imt {
    border-style: none;
    width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    
}





/* Overlay */
.overlay::before {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .85;
}

.overlay {
    color: r;
    position: relative;
    z-index: 0;
}


#stk{
    background-color: #26D2C6;
    float:right;
    margin-right: 70px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    transition: ease-out .4s;
}
#stk:hover{
    background-image: none;
    background-color: rgb(0, 0, 0);
}

/* Apply Form */
#appl{
    background-color: rgb(255, 255, 255);
    height: 570px;
    margin-top: 40px;
    box-shadow: 2px 20px 14px lightgrey;
}

#appi{
    background-color: #26D2C6;
    width: 570px;
    height: 570px;
}



#lrnb {
    font-size: 70px;
    font-weight: bold;
    color: white;
    letter-spacing: -2px;
    margin-left: 40px;
    line-height: 70px;
    padding-top: 30px;
}
#signinpa{
    display: none;
}
/* Queries */
@media only screen and (max-width:767px) {
    .mbicon {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
    }
    #lie {
        margin-top: 30px;
    }
    ul{
        display: none;
    }
    #lapp{
        display: none;
    }
    .cap{
        margin-left: 50px;
    }
    .cj{
        margin-left: 50px;
    }
    #gt{
        margin-left: 50px;
    }
    #gvt{
        margin-top: 10px;
        margin-left: 50px;
        display: block;
    }
    #stk{
        margin-right: 30px;
    }
    #items{ 
        padding-left: 40px;
        padding-right: 40px;
    }
    #a{
        margin-bottom: 30px;
    }
    /* Inputs */
    #firstname{
        width: 194px;
    }
    #username {
        width: 194px;
    }

    #email{
        width: 400px;
    }
    #password{
        width: 400px;
    }

    /* button */
    #createa{
        margin-bottom: 50px;
    }
    /* Aplly lfr */
    #appi{
        height: 380px;
    }
    #appl{
        height: 1000px;
        margin-bottom: 30px;
    }
    #lrnb{
        font-size: 50px;
        
    }
    #cnt{
        display: none;
    }
    
}

@media only screen and (max-width:0){
     #cnt {
         display: none;
     }
}